body {
	background-image: url('images/chicken.gif'),url('images/background1.gif');
	background-repeat: repeat;
	text-align: center;

	font-family: "Comic Sans";
}
.text-div {
	background-color: #93D8E8;

	border: 3px solid black;
	pointer-events: none;
	display: inline-block;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
#noteplace {
	width: auto;
	height: auto;
}

#dvd {
	position: absolute;
}

#banjo {
	position: absolute;
	transform-origin:50% 50%;
    animation:2s rotateRight infinite linear; 
	pointer-events: none;
}


#note1, #note2, #note3, #note4, #note5 {
	position: absolute;
	transform-origin:50% 50%;
    animation:2s rotateRight infinite linear; 
	pointer-events: none;
}


img {
	pointer-events: none;
	max-width: 100%;
	height: auto;
}
