body {
	background-color: #82C3E5;
	text-align: center;

	font-family: "Comic Sans MS"
}

.text-div {
	background-color: #93D8E8;

	border: 3px solid black;

	display: inline-block;
}

#dvd {
	position: absolute;
}

#adaptable {
	max-width: 100%;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
}