body {
	background-image: url('images/background1.gif');
	background-repeat: no-repeat;
	text-align: center;

	font-family: "Comic Sans";
}

.text-div {
	background-color: #93D8E8;

	border: 3px solid black;

	display: inline-block;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}

#dvd {
	position: absolute;
}

#banjo {
	position: absolute;
	transform-origin:50% 50%;
    animation:2s rotateRight infinite linear; 
}

img {
	max-width: 100%;
	height: auto;
}
